html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
}

.editor {
	display: flex;
	position: absolute;
	min-width: 745px;
	min-height: 720px;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

.toolbar {
	min-height: 20pt;
	background: #fff;
	border-bottom: 1px solid #777;
}

.position {
	float: right;
}

.binary-wrapper {
	font-family: Courier, monospace;
	font-size: 13px;
	position: relative;
	border-bottom: 1px solid #777;
	background: #ccc;
}

.binary {
	position: absolute;
	border-spacing: 0;
}

.scrollable-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.binary tbody {
	display: block;
}

.binary tr {
	height: 20px;
}

.binary td {
	padding-left: 4pt;
	padding-right: 4pt;
}

.binary .offset {
	font-weight: bold;
}

.binary .hexgroup {
	border-left: 1px solid #777;
	border-right: 1px solid #777;
	min-width: 640px;
}

.binary .value {
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
}

.binary .value.hex {
	width: 18px;
}

.binary .value.char {
	width: 8px;
}

.binary .current, .binary .value:hover {
	background: #6b9aba;
	color: #fff;
}

.binary .value:hover {
	background: #9cbcd1;
}

.binary .chargroup {
	white-space: pre;
	min-width: 320px;
	border-right: 1px solid #777;
}

.parser {
	flex: auto;
	display: flex;
	flex-direction: row;
}

.ace-editor, .tree {
	overflow-y: auto;
	border-bottom: 1px solid #777;
	box-sizing: border-box;
}

.ace-editor {
	border-right: 1px solid #777;
	flex: auto;
}

.tree {
	width: 40%;
	font-family: "Helvetica Neue";
	padding-left: 4pt;
	word-wrap: break-word;
}

.tree .status {
	text-align: center;
	white-space: pre-line;
}

.tree h5 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.togglable {
	color: #D78770;
	cursor: pointer;
}

.togglable-down::after, .togglable-up::after {
	font-size: 8px;
	margin-left: 0.5em;
}

.togglable-down::after {
	content: "▼";
	display: inline-block;
}

.togglable-up::after {
	content: "▶";
	display: inline-block;
}