body {
	margin: 0;
}

.editor:focus {
	outline: none;
}

.toolbar {
	position: fixed;
	width: 100%;
	height: 20pt;
	background: #fff;
	z-index: 1;
	border-bottom: 1px solid .777;
}

.position {
	float: right;
}

.binary-wrapper {
	font-family: Courier, monospace;
	font-size: 13px;
	position: fixed;
	top: 20pt;
	bottom: 0;
	width: 100%;
	overflow-y: scroll;
	background-color: #ccc;
}

.binary {
	position: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}

.binary tbody {
	display: block;
}

.binary tr {
	height: 20px;
}

.binary td {
	padding-left: 4pt;
	padding-right: 4pt;
}

.binary .offset {
	font-weight: bold;
}

.binary .hexgroup {
	border-left: 1px solid .777;
	border-right: 1px solid .777;
	width: 640px;
}

.binary .value {
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
}

.binary .value.hex {
	width: 18px;
}

.binary .value.char {
	width: 8px;
}

.binary .current, .binary .value:hover {
	background: #6b9aba;
	color: #fff;
}

.binary .value:hover {
	border-color: #bfeeff;
}

.binary .chargroup {
	white-space: pre;
	width: 320px;
}
